.center-container {
    overflow: scroll;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh; /* Adjust as needed */
  }
  
  .input-field {
    width: calc(100% - 40px); /* Adjust width to fill container with padding */
    max-width: 300px;
    height: 40px;
    padding: 8px 20px; /* Added padding on left and right */
    margin-bottom: 20px;
    font-size: 16px;
  }

  .input-container{
    display: flex;
    flex-direction: column;
    margin: 30px;

  }
  
 .p-text {
    margin: 20px;
    font-size:xx-large;
 }
  .submit-button {
    width: 120px;
    height: 100px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
  }
  
  .card-container {
    display: flex;
  }
  .container2 {
    display: flex;
  }
  .container3 {
    display: flex;
    flex-direction: column;
  }

  .card-container {
    display: flex;
  }
  .card {
    width: 200px;
    margin: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    overflow: hidden;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  }